<div class="container">
    <div class="page-header row">
        <h2>Open Tickets <small>Not Implemented Yet</small></h2>
    </div>
    <button {{action "getOpenTickets" }} type="button" class="btn btn-primary">Get'em</button>
</div>
{{yield}}
